.speech {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    color: black;
}

.stage-direction {
    font-family: "Courier New", monospace;
    font-size: 14px;
    color: black;
    background-color: #ececec;
}

.stage-direction:hover {
    background-color: #afb6e3;
    color: #594694;
}

.name {
    font-family: "Georgia", serif;
    font-size: 18px;
    color: black;
}

.hamlet {
    color: rgb(30, 11, 108);
}

.queen-gertrude {
    color: rgb(99, 17, 81);
}

.lord-polonious {
    color: rgb(87, 103, 2);
}