.speech {
    font-family: "Times New Roman", serif;
    font-size: 14px;
    color: black;
}

.stage-direction {
    font-family: "Courier New", monospace;
    font-size: 12px;
    color: black;
    background-color: #ececec;
}

.stage-direction:hover {
    background-color: #afb6e3;
    color: #940a23;
}

.name {
    font-family: "Georgia", serif;
    font-size: 16px;
    color: black;
}

.hamlet {
    color: rgb(46, 15, 169);
}

.queen-gertrude {
    color: rgb(155, 17, 125);
}

.lord-polonious {
    color: rgb(111, 132, 6);
}